<div class="mc-classification-container">

  <input 
    class="mc-url-input"
    [(ngModel)]="url"
    (keyup.enter)="classify($event)"
    pattern="^(https?://)?(www.youtube.com|youtu.?be)/.+$"
    required
    placeholder="Enter a YouTube URL here"
    #urlInput="ngModel" />
  
  <div class="classification-results-container">
    <div *ngIf="(classification$ | async) as classification; else errorOrLoading">
      <h4> {{classification.filename}} </h4>
      <p *ngFor="let genre of classification.genres | iterateGenres:'order-descending'">
        {{genre.name}} -> {{genre.weight}}
      </p>
    </div>
    <ng-template #errorOrLoading>
      <div *ngIf="!(loadingError$ | async)">
        <div *ngIf="pristine === false">
          <p> Loading... </p>
        </div> 
      </div>
    </ng-template>
  </div>
</div>    